.main .socialIcons {
  width: 50%;
}

.main .socialIcons .bi-instagram:hover {
  color: #2789ce;
  transition: 500ms;
}

.main .socialIcons .bi-facebook:hover {
  color: #2789ce;
  transition: 500ms;
}

.main .socialIcons .bi-twitter:hover {
  color: #2789ce;
  transition: 500ms;
}

.main .apresentation {
  margin-top: 20%;
  max-width: 700px;
}

.main .lastPublications {
  margin-top: 250px;
}

.main .lastPublications .card {
  width: 75%;
  border: none;
}

@media(max-width: 768px){
  .main .lastPublications .card {
    width: 100%;
  }
}

.main .lastPublications .card .card-title:hover {
  color: #2789ce;
}

.main .lastPublications .card .card-body {
  padding: 0px;
}

.main .lastPublications .card .category {
  color: darkgray;
}

.main .lastPublications .morePostsBtn {
  border: 1px solid #2789ce;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background: none;
  color: #2789ce;
}

.main .lastPublications .morePostsBtn:hover {
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background: #2789ce;
  color: #fff;
  transition: 1s;
}